/* 通用 */
.flow-hidden {
	overflow: hidden;
}
.block-header .more a{
	color: #333;
	margin-top: 20px;
	margin-right: 30px;
	text-decoration: none;
}
.row {
	margin-left: 0;
	margin-right: 0;
}
a {
	text-decoration: none;
}
ul {
	padding: 0;
}
body {
	font-family:"Microsoft Yahei";
}
form {
	width: 100%;
}
.form-item {
	margin: 10px 0;
}
.form-item {
	overflow:hidden;
	width: 100%;
}
.form-item .form-input {
	float:left;
	width:80%;
}
.form-item input {
	width: 125%;
}
.form-item .form-label{
	float:right;
	margin: 5px 0px;
}
/* 导航条 */
@media (max-width: 768px) {
	#menubar .navbar-toggle {
		margin-top: 20px !important;
	}
	.navbar-collapse {
		margin-top: 45px !important;
	}
}

#menubar {
	height: 137px;
}
#menubar>nav {
	height: 137px;
	padding-top: 30px;
}
#menubar .navbar-brand img {
	margin-right: 40px;
}
#menubar .navbar-collapse {
	margin-top: 15px;
}

/* 轮播 */
@media (max-width: 524px) {
	.carousel {
		height:180px;
	}
	.carousel .item {
		height: 180px;
	}
	.carousel img {
		min-height: 180px;
	}
	.carousel-caption p {
		font-size: 16px;
		line-height: 1.4;
	}
}

@media (max-width: 867px) and (min-width: 525px) {
	.carousel {
		height:300px;
	}
	.carousel .item {
		height: 300px;
	}
	.carousel img {
		min-height: 300px;
	}
	.carousel-caption p {
		font-size: 16px;
		line-height: 1.4;
	}
}

@media (min-width: 868px){
	.carousel{
		height:373px;
	}
	.carousel-inner .item{
		width:100%;
		height:373px;
	}
	.carousel img {
		min-height: 373px;
	}
}

.carousel {
	font-family:"Microsoft Yahei";
}
.carousel-control.left {
	background-image: none;
}
.carousel-control.right {
	background-image: none;
}
.carousel img {
	width: 100%;
}

/* 项目预览 */
.project-single {
	padding:30px 20px 30px 10px;
	margin: 0px 0px;
}
.project-single .introduction {
	text-align: left;
	padding: 0 20px 20px 20px;
	max-width: 280px;
	margin: auto;
}
.project-single .name a {
	font-size: 20px;
	color: black;
	text-decoration: none;
	margin: 0px 10px 10px 0px;
}
.project-single .recruit {
	font-size: 14px;
	width: 80px;
	margin-bottom: 5px;
	line-height: 23px;
}
.project-single .location {
	font-size: 14px;
	margin-bottom: 5px;
}
.project-single .enddate {
	font-size: 15px;
}
.project-single .pre-img {
	margin: auto;
	width: 280px;
}
.project-single img {
	width:280px;
	text-align: center;
}
/* 训练营概览 */
#wkshopOverview{
	background-color: #F8F8F8;
	padding: 30px 0;
}
.workshop-single {
	padding-bottom: 30px;
}
.workshop-single .name {
	text-align: center;
	color: black;
}
.workshop-single .name a{
	text-decoration: none;
}
.workshop-single a {
	color: black;
}
@media (min-width: 992px) {
	.workshop-single {
		width: 300px;
		margin: auto;
	}
	.workshop-single .img {
		width: 300px;
		height: 270px;
	}
	.workshop-single .img img {
		width: 288px;
		height: 258px;
		float: left;
		position: relative;
		border: 1px solid rgba(236, 236, 236, 1);
	}
	.workshop-single .name {
		font-size: 16px;
		margin-top: 22px;
	}
}
@media (max-width: 992px) and (min-width: 768px) {
	.workshop-single {
		width: 240px;
		margin: auto;
	}
	.workshop-single .img {
		width: 240px;
		height: 220px;
	}
	.workshop-single .img img {
		width: 218px;
		height: 198px;
		float: left;
		position: relative;
		border: 1px solid rgba(236, 236, 236, 1);
	}
	.workshop-single .name {
		font-size: 16px;
		margin-top: 22px;
	}
}
@media (max-width: 768px) and (min-width: 524px) {
	.workshop-single {
		width: 190px;
		margin: auto;
	}
	.workshop-single .img {
		width: 190px;
		height: 170px;
	}
	.workshop-single .img img {
		width: 170px;
		height: 160px;
		float: left;
		position: relative;
		border: 1px solid rgba(236, 236, 236, 1);
	}
	.workshop-single .name {
		font-size: 16px;
		margin-top: 22px;
	}
}
@media (max-width: 523px) {
	.workshop-single {
		width: 280px;
		margin: auto;
	}
	.workshop-single .img {
		width: 280px;
		height: 250px;
	}
	.workshop-single .img img {
		width: 258px;
		height: 238px;
		float: left;
		position: relative;
		border: 1px solid rgba(236, 236, 236, 1);
	}
	.workshop-single .name {
		font-size: 16px;
		margin-top: 22px;
	}
}

/* 注册页面 */
#register {
	padding: 50px 0;
}
#register p.title {
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	margin: 20px 0;
}
#register form {
	max-width: 260px;
	margin: auto;
}
#register .code-item .form-input {
	width: 50%;
}
#register .code-item .form-label {
	float: left;
}
#register .code-item .checkcode {
	float: right;
}
#register input[type="submit"] {
	width: 100%;
}
#register .checkbox-item .form-input {
	width: 5%;
}
#register .checkbox-item .form-content {
	float: left;
	width: 95%;
}
#register .checkbox-item .form-content .content {
	font-size: 12px;
	padding: 2px 0 0 10px;
	margin: 0;
	height: 10px;
}
#register .checkbox-item .checkcode {
	float: right;
}


/* 登录页面 */
#login {
	padding: 50px 0;
}
#login p.title {
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	margin: 20px 0;
}
#login form {
	max-width: 260px;
	margin: auto;
}
#login .code-item .form-input {
	width: 50%;
}
#login .code-item .form-label {
	float: left;
}
#login .code-item .checkcode {
	float: right;
}
#login input[type="submit"] {
	width: 100%;
}

/* 项目列表页面 */
#projects .single {
	padding: 50px;
	border: 1px solid #EEE;
	border-top: none;
}
#projects .intro-img{
	width: 230px;
	margin: auto;
}
#projects .intro-img img {
	width: 230px;
	height: 150px;
}
#projects .single a {
	color: #333;
}
#projects .single .title {
	font-size: 20px;

}
#projects .single .item {
	margin: 5px 0;
}
#projects .pagi {
	text-align: right;
}

/* 项目详情 */
#proj-details {
	background-color: #F8F8F8;
}
#proj-details .left {
	padding: 20px;
	border: 1px solid #EEE;
	background-color: #FFF;
	margin-bottom: 30px;
}
#proj-details .proj-title {
	text-align: center;
	margin: 40px 0;
}
#proj-details .brief img {
	width: 100%;
}
#proj-details .left .item {
	border-top: 1px solid #EEE;
}
#proj-details .left .content {
	margin: 20px;
	font-size: 14px;
}
#proj-details .left .title {
	font-size: 15px;
	margin: 20px 0;
}
#proj-details .right {
	border: 1px solid #EEE;
	background-color: #FFF;
	margin-bottom: 30px;
}
#proj-details .right .item {
	padding: 20px;
	text-align: center;
	border-bottom: 1px solid #EEE;
}
#proj-details .joined-designer .title {
	text-align: center;
	margin: 20px;
}
#proj-details .joined-designer .item {
	overflow: hidden;
	padding: 6px;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	display: flex;
	flex-direction: row;
}
#proj-details .joined-designer .single {
	width: 120px;
	height: 140px;
}
#proj-details .joined-designer .single .name {
	margin-top: 10px;
}
#proj-details .joined-designer .single .name a{
	color: #333;
	text-decoration: none;
}
#proj-details .joined-designer .single img {
	width: 100px;
	height: 100px;
}
/* 训练营列表 */
#workshops .single {
	padding: 50px;
	border: 1px solid #EEE;
	border-top: none;
}
#workshops .intro-img{
	width: 230px;
	margin: auto;
}
#workshops .intro-img img {
	width: 230px;
	height: 150px;
}
#workshops .single a {
	color: #333;
}
#workshops .single .title {
	font-size: 20px;

}
#workshops .single .item {
	margin: 5px 0;
}
#workshops .pagi {
	text-align: right;
}

/* 项目详情 */
#wkshop-details {
	background-color: #F8F8F8;
}
#wkshop-details .left {
	padding: 20px;
	border: 1px solid #EEE;
	background-color: #FFF;
	margin-bottom: 30px;
}
#wkshop-details .wkshop-title {
	text-align: center;
	margin: 40px 0;
}
#wkshop-details .brief img {
	width: 100%;
}
#wkshop-details .left .item {
	border-top: 1px solid #EEE;
}
#wkshop-details .left .content {
	margin: 20px;
	font-size: 14px;
}
#wkshop-details .left .title {
	font-size: 15px;
	margin: 20px 0;
}
#wkshop-details .right {
	border: 1px solid #EEE;
	background-color: #FFF;
	margin-bottom: 30px;
}
#wkshop-details .right .item {
	padding: 20px;
	text-align: center;
	border-bottom: 1px solid #EEE;
}
#wkshop-details .joined-designer .title {
	text-align: center;
	margin: 20px;
}
#wkshop-details .joined-designer .item {
	overflow: hidden;
	padding: 6px;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	display: flex;
	flex-direction: row;
}
#wkshop-details .joined-designer .single {
	width: 120px;
	height: 140px;
}
#wkshop-details .joined-designer .single .name {
	margin-top: 10px;
}
#wkshop-details .joined-designer .single .name a{
	color: #333;
	text-decoration: none;
}
#wkshop-details .joined-designer .single img {
	width: 100px;
	height: 100px;
}

/* 发布项目基本内容 */
#publish-base {
	background-color: #F8F8F8;
}
#publish-base .left {
	padding: 40px;
	border: 1px solid #EEE;
	background-color: #FFF;
	margin: 30px 0;
}
#publish-base  .right {
	border: 1px solid #EEE;
	background-color: #FFF;
	margin: 30px 0;
}
#publish-base  .left .item {
	border-top: 1px solid #EEE;
}
#publish-base .left .title {
	font-size: 15px;
	margin: 20px 0;
}
#publish-base .left .content {
	margin: 20px;
	font-size: 14px;
}
#publish-base .left li input[type="checkbox"] {
	margin-top: 5px;
	margin-right: 5px;
}
#publish-base .right .item {
	padding: 20px;
	text-align: center;
	border-bottom: 1px solid #EEE;
}
#publish-base .proj_pic img.proj_img {
	max-width: 100%;
}
#publish-base .conserve {
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	display: flex;
	flex-direction: row;
	border: 1px solid #EEE;
	background-color: #FFF;
	margin: 20px 0px;
	padding: 20px;
}
#publish-base input[type="button"] {
	width: 150px;
	height: 40px;
}

/* 发布项目详细内容 */
#publish-details {
	background-color: #F8F8F8;
}
#publish-details .left {
	padding: 40px;
	border: 1px solid #EEE;
	background-color: #FFF;
	margin: 30px 0;
}
#publish-details  .right {
	border: 1px solid #EEE;
	background-color: #FFF;
	margin: 30px 0;
}
#publish-details .left .item {
	border-top: 1px solid #EEE;
}
#publish-details .left .title {
	font-size: 15px;
	margin: 20px 0;
}
#publish-details .left .content {
	margin: 20px;
	font-size: 14px;
}
#publish-details .right .item {
	padding: 20px;
	text-align: center;
	border-bottom: 1px solid #EEE;
}
#publish-details .conserve {
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	display: flex;
	flex-direction: row;
	border: 1px solid #EEE;
	background-color: #FFF;
	margin: 20px 0px;
	padding: 20px;
}
#publish-details input[type="button"] {
	width: 150px;
	height: 40px;
}

/* 发布项目公司内容 */
#publish-company {
	background-color: #F8F8F8;
}
#publish-company .left {
	padding: 40px;
	border: 1px solid #EEE;
	background-color: #FFF;
	margin: 30px 0;
}
#publish-company  .right {
	border: 1px solid #EEE;
	background-color: #FFF;
	margin: 30px 0;
}
#publish-company .left .item {
	border-top: 1px solid #EEE;
}
#publish-company .left .title {
	font-size: 15px;
	margin: 20px 0;
}
#publish-company .left .content {
	margin: 20px;
	font-size: 14px;
}
#publish-company .right .item {
	padding: 20px;
	text-align: center;
	border-bottom: 1px solid #EEE;
}
#publish-company .conserve {
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	display: flex;
	flex-direction: row;
	border: 1px solid #EEE;
	background-color: #FFF;
	margin: 20px 0px;
	padding: 20px;
}
#publish-company input[type="button"] {
	width: 150px;
	height: 40px;
}

/* 设计师列表 */
#designers .single {
	width: 200px;
	height: 255px;
	margin: 50px auto 50px auto;
	text-align: center;
	background-color: rgba(233,233,233,0.2);
	padding-top: 20px;
}
#designers .single .name {
	font-size: 16px;
	margin-top: 15px;
}
#designers .single .sex {
	font-size: 12px;
	margin-top: 8px;
	color: rgba(0,0,0,0.5);
}
#designers .single .information {
	width: 80px;
	height: 30px;
	margin-top: 20px;
	background-color: rgba(212, 243, 207, 0.7);
	margin-left: auto;
	margin-right: auto;
	line-height: 30px;
}
#designers .single .information a {
	color: #777;
	font-size: 12px;
	text-decoration: none;
}
#designers .single img {
	width: 100px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
}
#designers .pagi {
	text-align: right;
}

/* 个人信息页面 */
#designer-details .brief {
	position: relative;
}
#designer-details .brief>img {
	width: 100%;
}
#designer-details .content {
	position: absolute;
	left: 15%;
	right: 15%;
	text-align: center;
	color: #FEFEFE;
}
#designer-details .content .icon>img {
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
}
#designer-details .content .name {
	font-size: 18px;
}
#designer-details .content .intro {
	font-size: 15px;
}
#designer-details .details {
	margin: 50px 0;
}
@media (min-width: 768px) {
	#designer-details .content {
		bottom: 150px;
	}
	#designer-details .brief>img {
		height: 500px;
	}
	#designer-details .content .icon>img {
		width: 150px;
	}
	#designer-details .item {
		margin: 30px 0;
	}
}
@media (max-width: 768px) and (min-width: 524px) {
	#designer-details .content {
		bottom: 130px;
	}
	#designer-details .brief>img {
		height: 500px;
	}
	#designer-details .content .icon>img {
		width: 120px;
	}
	#designer-details .item {
		margin: 30px 0;
	}
}
@media (max-width: 523px) {
	#designer-details .content {
		bottom: 80px;
	}
	#designer-details .brief>img {
		height: 500px;
	}
	#designer-details .content .icon>img {
		width: 110px;
	}
	#designer-details .item {
		margin: 30px 0;
	}
}
#tab-my-project .row>div {
	padding: 20px;
}
#tab-my-project img {
	width: 230px;
	height: 150px;
	text-align: center;
}
#tab-my-project .img-wrap {
	width: 230px;
	margin: auto;
}
#tab-my-project .name {
	text-align: center;
	margin: 20px 0;
}
/* 底部版权 */
#footer {
	background-color: #333;
	padding: 50px 0;
}
#footer .block {
	width:200px;
	margin: auto;
	text-align: center;
}
#footer .block li {
	margin: 5px 0;
}
#footer .block li a {
	  color: #dbdbdb;
	  font-size: 15px;
	  text-decoration: none;
}
#footer .title{
	  font-size: 16px;
	  margin: 30px 0px 30px 0;
	  color: #e5e5e5;
}
#footer #copyright {
	text-align: center;
	padding: 70px 20px 0px 20px;
	font-size: 15px;
	color: #e5e5e5;
}

/* 提示信息 */
#message {
	padding: 50px 50px 30px 50px;
}